body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: linear-gradient(to right bottom, #ffa585,#45c5d8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root{
    padding: 20px 10px;
    background: linear-gradient(to right bottom, #adf599,#f383aa);
    text-align: center;
    border: 2px solid rgb(237, 177, 177);
    border-radius: 20px;
}
.one{
    font-family:  sans-serif;
    font-size: medium;
    color: #074953;
    padding: 6px;
    margin-bottom: 5px;
}
.pass{
    font-family:  sans-serif;
    color: #074953;
}