body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: linear-gradient(to right bottom, #d03889,#45c5d8);
}

#heading{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #d03889,#45c5d8);

}

h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.profiles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-left: 30px;
}

img{
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
}
.cards{
    padding: 10px 20px;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 7px;
}

.but{
    margin-top: 20px;
}

.inpu{
    margin-left: 40vw;
    width: 200px;
    height: 30px;
    font-size: 25px;
    padding-left: 2vw;

}
button{
    height: 30px;
    color: white;
    margin-left: 1vw;
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    font-family: serif;
    font-size: 20px;
    background-color: #707cd6;
}
a{
    font-family: serif;
    font-size: 25px;
}